@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'title';
  /*font-family: 'Roboto', sans-serif; */
  overflow: hidden;
  background-color: #89b9c2;
}

#content {
  display: flex;
  justify-content: center;
}

.spoiler, .choice {
  background-color: #60C0b7;
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.spoiler:hover, .choice:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
}

.choice {
  background-color: #43aaa0;
  font-size: 1em;
}

#item-list {
  padding: 2em;

  color: white;
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: scroll;
}

#content::before {
  content: "";
  background-color: black;
  background: url(../assets/images/egg.jpg);
  background-size: 100% auto;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#item-list::-webkit-scrollbar
{
	display: none;
}

/* Testing out sliding div start */
#item-description {
  padding: 2em;
  width: 15vw;
  height: 100vh;
  overflow: hidden;
  background-color: #4792A0;
  align-self: flex-start;
  margin: -2em 0 -2em -2em; 
}
/* Testing out sliding div end */

#add-item-menu {
  padding: 1em;
  background-color:rgba( 255, 251, 243, .8);
  
  width: 20vw;
  height: 100vh;
  overflow: auto;
  
  /* Bringing it forward to show shadow */
  position: relative;
  z-index: 5;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .1);
}



#add-item-menu::-webkit-scrollbar { 
  display: none;				
}

#add-item-menu .submenu {
  display: block;
}

#add-item-menu .choice {
  display: none;
  width: 70%;
  margin: .5em 0 .5em 15%;
}

#add-item-menu .spoiler {
  display: block;
  width: 90%;
  margin: 1em 0 1em 5%;
}
  
#template {
  display: none;
}

.list-item {
  padding: .5em;
}

.list-item-entry {
  margin: .5em;
  display: inline-block;
  width: 50vw;
  padding: 5px;
  border-radius: 10px;
  background: #FFFBF3;
  color: #26605b;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.expired-list-item-entry {
  background-color: #E7636D;
  color: white;
}

.expired-list-item-entry .list-item-date {
  background: #FED5D8;
}

button:focus {outline:0;}


.list-item-entry div {
  display: inline-block;
}

.list-item-name {
  width: 75%;
  text-indent: 50px;
}

.list-item-date {
  width: 20%;
  text-align: center;
  background: #ffeac0;
  color: #26605b;
  border-radius: 5px;
  padding: 5px;
}

.remove-button {
  display: inline-block;
}

@font-face{
  font-family: "title";
  src: url("../assets/fonts/Cocomat Light-trial.ttf");
}