@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background-color: #89b9c2;
}

#content {
  display: flex;
  justify-content: center;
}

.spoiler, .choice {
  background-color: #60C0b7;
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.spoiler:hover, .choice:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
}

.choice {
  background-color: #43aaa0;
  font-size: 1em;
}

#item-list {
  padding: 2em;
  color: white;
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: scroll;
}

#content::before {
  content: "";
  background-color: black;
  background: url(../assets/images/egg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat; 
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#item-list::-webkit-scrollbar
{
	display: none;
}

/* Testing out sliding div start */
#item-description {
  padding: 2em;
  width: 15vw;
  height: 100vh;
  overflow: hidden;
  background-color: #4792A0;
  align-self: flex-start;
  margin: -2em 0 -2em -2em; 
}
/* Testing out sliding div end */

#add-item-menu {
  padding: 1em;
  background-color:rgba( 255, 251, 243, .8);
  
  width: 20vw;
  height: 100vh;
  overflow: auto;
  
  /* Bringing it forward to show shadow */
  position: relative;
  z-index: 5;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .1);
}



#add-item-menu::-webkit-scrollbar { 
  display: none;				
}

#add-item-menu .submenu {
  display: block;
}

#add-item-menu .choice {
  display: none;
  width: 70%;
  margin: .5em 0 .5em 15%;
}

#add-item-menu .spoiler {
  display: block;
  width: 90%;
  margin: 1em 0 1em 5%;
}
  
#template {
  display: none;
}

.list-item {
  margin: 1.5em;
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.list-item-entry {
  /* Layout */
  display: flex;
  align-items: center;
  width: 50vw;

  /* Style */
  background: #FFFBF3;
  color: #26605b;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.list-remove-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.75em;
}

.list-item-entry div {
  /* Layout */
  display: flex;
  padding: 0.75em;
}

.list-item-name {
  /* Layout */
  width: 80%;
  text-indent: 50px;
}

.list-item-date {
  /* Layout */
  justify-content: center;
  width: 20%;

  /* Style */
  background: #ffeac0;
  color: #26605b;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.expired-list-item-entry {
  background-color:#FED5D8 ;
  
}

.expired-list-item-entry .list-item-date {
  background: #E7636D;
  color: white;
}

button:focus {outline:0;}

.remove-button {
  background-color: #60C0b7;
  padding: .5em;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.remove-button:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
}

.choice {
  background-color: #43aaa0;
  font-size: 1em;
}