/*Id selectors */

@media screen and (min-width: 1160px){
#banner{
  width: 100%;
  height: 120px;
  background-color: #f79693;
  color: white;
  margin: 0px;
}

#banner div{
  display:inline-block;
}

#GearIcon{
  width:60px;
  height:60px;
  transform: translateY(2px);
}

#title{
  width: 150px;
  letter-spacing: 8px;
  text-shadow: 4px 4px 4px black;
  margin-left: 150px;
  margin-right: 250px;
  padding-bottom: 40px;
  font-size: 28pt;
  font-family: "title";
  transform: translateY(-40px);
}

#container{
  width: 440px;
  height: 100px;
  font-size: 20pt;
  vertical-align: middle;
  transform: translateY(-50px);
}

#imageContainer{
  padding: 0;
  display:inline-block;
  text-align: center;
  margin: 0 auto;
  width: 600px;
  margin-top: 8px;
  margin-right: 80px;
  vertical-align: top-text;
  transform: translateY(-6px);
}

/*Class selectors*/
.divImage{
  margin-top: 4px;
  height:110px;
  width:160px;
}

.home_option{
  border: 2px solid black;
  width:130px;
  padding: 0;
  height:100px;
  vertical-align: middle;
  display:inline-block;
  /*background-color: red;*/
  margin: 2px;
  font-size: 16pt;
  font-family: "login";
  letter-spacing: 4px;
    box-shadow: 2px 2px 2px solid white;
}

.headings{
  vertical-align: text-top;
  margin-bottom: 40px;
}

.banImage{
  height: 100%;
  border-radius: 10px;
}

#nav_holder{
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 14px;
  height: 5vh;
  background-color: yellow;
}

head{
  padding: 0px;
}
/*Descendant selectors*/
#nav_bar{
  font-weight:bold;
  font-size: 18pt;
  margin-right: 10px;
  padding-right: 10px;
    font-family: "login";

}
}

/*Font imports*/
@font-face{
  font-family: "title";
  src: url("Fonts/Kroftsmann.ttf");
}

@font-face{
  font-family: "login";
  src: url("Fonts/TrueType/SFButtacupLetteringShaded-O.ttf");
}

@font-face{
  font-family: "nav_head";
  src: url("Fonts/TrueType/SFButtacupLettering-BoldObl.ttf");
}