body {
  margin: 0;
  /*overflow: hidden; */
}

#content {
  display: flex;
  
}

#graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/images/examplebg1.jpg);
  background-color: rgb(231, 236, 239);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: calc(100vh - 75px);
  width: 100vw;
  
}
#graphTitle{
  text-align: center;
  position: absolute;
  z-index: 1;
  height: 5vh;
  width: 100vw;
  color: grey;
  margin-top: 2vw;

}
#graph {
  /*background-color: #1F7A8C; */
  width: 500px;
  height: 300px;
  margin-bottom: 5em;
  
}
#greenWord{
  color: darkgreen;
} 